/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/fixed.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */


#edit-search-block-form--2 {
	width: 85%;
}
#search .block {
	margin-bottom: 0;
}

#navbar .inline li {
	padding: 0 1em;
}

#navbar .first {
	background-image: url(/sites/all/themes/zenshop/include/images/home.png);
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
}
#commercial .block {
	margin-bottom: -8px;
}

#commercial .block  img {
	display: block;
	margin: 0 auto;
}

.block-title {
	text-align: center;
}

#main {
	width: 980px;
	margin: 0 auto;
}
body.not-front #pusto_mesto_cvetno{
	display:none;
}